## Clase 2 21/03

** Este es un texto **

**Este es un texto en negrita**

*Este es un texto inclinado*

***Texto que combina negrita e inclinado***

* Opcion 1

1. Item 1
2. Item 2

### Variables

# Vamos a ver el uso de variables.
var1= 23
print(var1)
#Podemos reutilizar las variables.
var1= 45
print(var1)

In [1]:
# Tambien puedo reutilizar mis variables, cambiando el tipo de dato.
var1 = "Hola mundo"
print(var1)

Hola mundo

In [2]:
var2 = 'Clase de python'

In [3]:
print(var2)

Clase de python

***Comentarios***

In [4]:
# Esto es un comentario
# Estas lineas son ignoradas por el interprete

***Tipos de datos***

In [5]:
# Datos numericos
var1= 12
#print(type(var1))

#Valores base Octal
var1 = 0o34
#print(type(var1))

# Valores decimales
var1= 34.5
var2= 3.45
suma = var1+var2
print(type(var1))
print(type(var2))
print(type(suma))

<class 'float'>
<class 'float'>
<class 'float'>

In [6]:
#asignacion en linea
v1,v2,v3 = 12,5,3

print(v1)
print(v2)
print(v3)

12
5
3

In [7]:
# numeros complejos
valor1 = 3+7j
print(valor1)

(3+7j)

In [8]:
print(valor1.real)
print(valor1.imag)

3.0
7.0

***Conversiones de tipo***
<br>
* int()
* float()
* complex()

In [9]:
#Conversion de entero a coma flotante
valor = 23
print(type(valor))
print(valor)
valor = float(valor)

<class 'int'>
23

In [10]:
# entero a complejo
valor1= 2
print (valor1)
valor1 = complex(valor1)
print(valor1)

2
(2+0j)

In [11]:
# flotante a entero

var1 = 3.6
var1 = int(var1)
print(var1)

3

In [12]:
print("Esta es mi variable var1",var1)

Esta es mi variable var1 3

In [13]:
# Cadena con mas de una linea
print("""
Linea1
Linea2
Linea3
""")

Linea1
Linea2
Linea3

In [14]:
# Caracteres unicode
print('\u062d')
print ("\u260e")

ح
☎

***Operadores***

Ejemplo : Ingreso por teclado el radio de un circulo y mostrar por pantalla la superficie.

In [ ]:
#Ingreso por teclado

nombre = input('Ingrese su nombre: ')
print("Su nombre es",nombre)

In [ ]:
print("Calculo de la superficie")
print()
radio = int(input("Ingrese el radio del circulo: "))
print(radio*2)

***Metodo FORMAT***

In [ ]:
# Es un metodo de la clase STR y me permite entre otras cosas agregar datos a un texto
var1 = 4
var2 = 5
print("El valor de mi variable llamada VAR es: {} y el de VAR2 {}".format(var1,var2))

***Operadores***

***Operadores aritmeticos.***
+ Suma
- Resta
- Negativo
* Multiplicacion
** Exponente
/ Division
// Division entera
% Resto

In [ ]:
#Hacer y ejecutar un ejemplo de cada uno.

***Operadores Relacionales.***
* Igual que (==)
* Distinto que (!=)
* Menor que (<)
* Mayor que (>)
* Menor o igual (<=)
* Mayor o igual (>=)

In [ ]:
# Ejemplo
a = 15
print("La variable a es mayor que 10: {} ".format(a > 10))

***Operadores de asignacion***

In [ ]:
#Asignacion simple 

a=12
print (a)
#Suma y asignacion

a=5
a+=2
print ("Suma y asignacion: {}".format(a))

#Resta y asignacion

a =6
a-= 4
print("Resta y asignacion: {}".format(a))

In [ ]:
b= 20
b =-10
print(b)

***Operadores logicos***

* and
* or 
* not

In [ ]:
# AND
a = 5
b = 10
print ("AND es TRUE si y solo si, ambas expresiones son verdaderas: {}".format(a==5 and b==10))

In [ ]:
# OR 
c = 6
d = 5
print ("OR es TRUE solo si, al menos una de las expresiones es verdadera: {}".format(c==6 or d==7))

In [ ]:
# NOT  
var = 23
print("NOT modifica el valor booleano de una expresion: {}".format(not var == 24))

### Listas.

In [ ]:
# Tipo de elemento: LISTA
lista1 = [1,2,3,4]
print (lista1)

In [ ]:
#Las listas son elentos indexados
lista2 = ["a","b",56,12,"Hola Mundo"]
print(lista2[0])

In [ ]:
#Ejemplo de uso
l1= ["Hola",4,5]
l2 = ["Mundo",3]
l3 = [l1[0],l2[0]]
print(l3)
print(l1[0]+" "+l2[0])

***Funcion LEN.***

In [ ]:
# Me permite conocer la longitud de un elemento, por ejemplo, las listas.
lista = [1,2,3,4,5]
print(lista)
print(type(lista))
print(len(lista))

***Metodos de LISTA***

In [ ]:
#Metodo APPEND
# Agrega un elemento al final de la lista.
nombres = ["Juan","Pedro","Guillermo"]
print(nombres)
nombres.append(24)
print(nombres)

In [ ]:
# Metodo COUNT
# Devuelve el numero de ocurrencias dentro de la lista.
letras = ["a","b","c","a"]
print(letras.count("a"))

In [ ]:
# Metodo INDEX
# Devuelve el indice de la primer ocurrencia del elemento que le paso como argumento
numeros = [1,2,3,4,5]
print(numeros.index(3))

In [ ]:
# Metodo INSERT
# 
lista = [1,2,3,4]
print(lista)
lista.insert(2,"Hola")
print(lista)

lista = []
print (lista)

In [ ]:
# Metodo POP
#Devuelve el ultimo lugar de la lista. Si no lo guardamos lo borra.
lista = [1,2,3,4,5,6]
print(lista)
a = lista.pop()
print(lista)
print()

In [ ]:
#Metodo REMOVE
#Elimina la primera aparicion
numeros = [1,2,3,4,5,2,2]
print(numeros)
numeros.remove(2)
print(numeros)

In [ ]:
# Metodo REVERSE
#Invierte el orden de los elementos de una lista
letras = ["a","b","c","d"]
print(letras)
letras.reverse()
print(letras)

In [ ]:
# Metodo SORT
# Ordena los elementos de una lista

#Orden de menor a mayor
numeros = [2,4,6,34,0,12,3]
print(numeros)
numeros.sort()
print(numeros)

# Orden de mayor a menor
numeros.sort(reverse = True)
print(numeros)

#Puedo ordenar texto por unicode
letras = ["f","x","a"]
print(letras)
letras.sort()
print(letras)

### Operador de pertenencia

In [ ]:
#Determina si un elemento pertenece a una determina coleccion

a=12
lista = [1,2,3,4,5]
print(a in lista)
print(a not in lista)

### Estructuras

***Condicional IF***

In [ ]:
# Pedimos el ingreso de un numero y verificamos si es par o impar.
numero = int(input("Ingrese un numero: "))
resto = numero%2

if resto == 0: 
    print("El numero es PAR")
else:
    print("El numero es impar")

In [ ]:
# Otro ejemplo de IF
a = 12
if a<0:
    print("El numero es menor que cero")
elif a>=0 and a <=10:
    print("El numero esta entre 0 y 10 inclusive")
else:
    print("El numero es mayor que 10")

In [ ]:
valor = input ("ingrese un valor entre 1 y 3")
lista = ["1","2","3"]
print (valor in lista)

### Estructuras (parte 2)

***Estructura While***

In [ ]:
# Estructura While por contador
control = 1

while control <= 5:
    print("Valor de la variable de control: {}".format(control))
    control = control + 1
    
print("Fin de ciclo While, valor final de la variable: {}".format(control))

In [ ]:
# Ejemplo de While simulando un DO WHILE

contador = 0

while True:
    contador = contador + 1
    print("Valor del contador: {}".format(contador))
    if contador == 4:
        break
        
print("Fin del ciclo, valor final de la variable de control: {}".format(contador))

In [ ]:
#Ejercicio de ejemplo
notas=[]
nota = 0

while nota != -1:
    nota=int(input("Ingrese notas del 1 al 10 o -1 para finalizar."))
    if nota == -1:
        break
    notas.append(nota)
    
print("Notas ingresadas:",notas)
print("Suma de las notas ",sum (notas))
print("Promedio de las notas: ",sum(notas)/len(notas))

#Arreglar el problema de la division sobre cero.

***Estructura FOR***

In [ ]:
#Ejemplo de FOR 
lista = [1,2,3,4,5,6]
for valor in lista:
    print("Valor cargado dentro del iterador: {}".format(valor))

In [ ]:
# Funcion RANGE 

for mes in range (4,12):
    print("Valor de mes obtenido: {}".format(mes))

In [ ]:
# Funcion RANGE con incremento / decremento
for numero in range(1,6,2):
    print("Valor del iterador: {}".format(numero))

In [ ]:
#FOR con Range y decremento
for x in range(5,0,-1):
    print(x)

***Cadenas de caracteres***

In [ ]:
#Caracter de escape 
print("Uso del caracter \"de\" escape.")

In [ ]:
print("Taller"+" - "+"Integrador")
print(2*"Vamos Boca")
print("Hola " "Mundo")

In [ ]:
#Las cadenas estan indexadas
texto = "Me gusta cursar los Martes"
print(texto[0])

In [ ]:
# Podemos convertir a lista el texto para usar sus métodos.
a = "Hola mundo"
print(type(a))
a = list(a)
print(type(a))
print(a)
a.append(12)
print(a)

***Sub cadenas***

In [ ]:
# Ejemplo 1
cadena = "Taller integrador"
sub_cadena = cadena[1:6]
print(sub_cadena)

In [ ]:
# Podemos ignorar alguno de los extremos
cadena = "Python"
print(cadena[:4])
print(cadena[2:])
print(cadena[:])

In [ ]:
# Las cadenas de texto son Inmutables
texto = 'Hola'
texto[0]='L'

In [ ]:
# Las listas son Mutables
lista = [1,2,3]
lista[0] = 'a'
print(lista)

***Listas (Continuacion)***

In [ ]:
# Las listas se pueden rebanar creando sub listas
lista = ['1','2','3','4','5','6']
sub1 = lista[0:3]
print(lista)
print(sub1)

# Probar la sintaxis aprendida con cadenas de texto

***Creando listas usando RANGE***

In [ ]:
# Si a Range le pasamos un solo argumento, lo toma com valor "Hasta"
numeros = list(range(11))
print(numeros)

In [ ]:
lista = list(range(1,11,2))
print(lista)

***Estructuras vacias***

In [ ]:
while True:
    pass

***Funciones***

In [ ]:
# Para definir una función utilizamos la palabra reservada DEF
def cuadrado(valor):
    resultado = valor**2
    print("El valor {} elevado al cuadrado es: {}".format(valor,resultado))
    
cuadrado(4)

***Ejercico propuesto***
<br>
Armar un programa que pida números a un usuario, cada uno lo eleve al cubo y muestre el resultado, hasta que el usuairo ingrese el valor 0.

In [ ]:
# Las funciones tienen su propia clase
print(type(cuadrado))

In [ ]:
# 
a = 4
print(type(a))

a = cuadrado
print(type(a))

In [ ]:
a(3)

***Retorno de Valores ***

In [ ]:
def cuadrado(valor):
    resultado = valor**2
    return(resultado)

valor = cuadrado(5)
print("El resultado de elevar 5 al cuadrado es: {}".format(valor))

***Pasaje de argumentos por posicion***

In [ ]:
def resta(x,y):
    res = x - y
    print("Resultado de la resta: {}".format(res))
    
resta(3,10)

***Pasaje de argumentos por nombre***

In [ ]:
resta(y=3,x=10)

***Funcion invocada sin argumentos***

In [ ]:
def resta(x=None,y=None):
    if x==None or y==None:
        print("Error, debe ingresar dos valores.")
        return
    res = x-y
    print("Resultado de la resta: {}".format(res))
    
resta(4,4)

# Corregir el caso (,4)

***Numeros Aleatorios***

In [ ]:
import random
print("Número al azar entre 0 y 10",random.randrange(11))

In [ ]:
print("Número al azar entre 20 y 40",random.randrange(20,41))

In [ ]:
print("Número al azar entre 1 y 20, que sea impar.",random.randrange(1,21,2))

In [ ]:
# RANDINT: incluye también el HASTA
print("Número al azar entre 1 y 5: ",random.randint(1,5))

In [ ]:
# Método CHOICE
# Devuelce un elemento al azar, de una lista predefinida.
lista = ["River","Boca","Chaca"]
print("Próximo campeón: ",random.choice(lista))

In [ ]:
# Método SHUFFLE
# Mezcla al azar los elementos de una lista
numeros = [1,2,3,4,5,6]
print(numeros)

random.shuffle(numeros)
print(numeros)

random.shuffle(numeros)
print(numeros)