<div class="alert alert-info text-center">
    <h2>Comisión 1 - Python</h2>
</div>

**Este es un texto en negrita**
<br>
*Este es un texto inclinado*
<br>
***Texto que combina negrita e inclinado***
<br>
* Opción 1
* Opción 2
* Opción 2
<br>
1. Ítem 1
2. Ítem 2

***Variables***

In [2]:
# Vamos a ver el uso de variables.
var1 = 23
print(var1)

# Podemos reutilizar las variables
var1 = 45
print(var1)

23
45

In [4]:
# También puedo reutilizar mis variables, cambiando el tipo de dato
var1 = 'Hola mundo'
print(var1)

# Da lo mismo usar comillas simples o dobles.
var2 = "Clase 2 de Python"

Hola mundo

In [5]:
print(var2)

Clase 2 de Python

***Comentarios***

In [6]:
# Esto es un comentario
# Estas líneas son ignoradas por el intérprete

***Tipos de datos***

In [13]:
# Datos numéricos
var1 = 12
#print(type(var1))

# Valores base Octal
var1 = 0o34
#print(type(var1))

# Valores decimales
var1 = 3.5
var2 = 2.5
suma = var1 + var2

print(type(var1))
print(type(var2))
print(type(suma))

<class 'float'>
<class 'float'>
<class 'float'>

In [41]:
# Asignación en línea
valor1,valor2,valor3 = 12,5,3

print(valor1)
print(valor2)
print(valor3)

# Otro tipo de asignación múltiple
v1=v2=v3 = 'Hola'
print(v2)

12
5
3
Hola

In [15]:
# Números complejos
valor1 = 3 + 7j
print(valor1)

(3+7j)

In [16]:
print(valor1.real)
print(valor1.imag)

3.0
7.0

***Conversiones de tipo***
<br>
* int()
* float()
* complex()

In [21]:
# Conversión de entero a coma flotante
valor = 23
print(type(valor))
print(valor)

valor = float(valor)
print(valor)

<class 'int'>
23
23.0

In [22]:
# Entero a complejo
valor = 2
print(valor)

valor = complex(valor)
print(valor)

2
(2+0j)

In [24]:
# Flotante a entero
var3 = 3.7
var3 = int(var3)
print(var3)

3

In [30]:
print('Esta es mi variable var3',var3)

Esta es mi variable var3 3

In [31]:
# Cadena con mas de una línea
print("""
Línea 1
Línea 2
Línea 3
""")

Línea 1
Línea 2
Línea 3

In [38]:
# Caracteres Unicode
print('\u260e')
print('\u1F60E')

☎
ὠE

In [39]:
# Booleanos
a = True
print(type(a))

<class 'bool'>

Ejemplo: Pedir al usuario un ingreso por teclado, que corresponde al radio de un círculo y mostrar por pantalla la superficie de dicho círculo.

In [43]:
# Ejemplo Ingreso por teclado
nombre = input('Ingrese su nombre: ')
print('El nombre ingresado por teclado es: ',nombre)

Ingrese su nombre: Guillermo Alfaro
El nombre ingresado por teclado es:  Guillermo Alfaro

In [47]:
# Intento de solución del ejercicio
print('Cálculo de la superficie de un círculo')
print()
radio = int(input('Ingrese el radio del círculo: '))
PI = 3.1415926
superficie = PI * (radio**2)
print('La superficie calculada es: ',superficie)

Cálculo de la superficie de un círculo

Ingrese el radio del círculo: 23
La superficie calculada es:  1661.9024854

***Método FORMAT***

In [4]:
# Es un método de la clase STR y me permite, entre otras cosas, agregar datos a un texto.
var1 = 4
var2 = 5
print("El valor de mi variable llamada VAR1 es: {}, y el de VAR2 {}".format(var1,var2))

El valor de mi variable llamada VAR1 es: 4, y el de VAR2 5

***Operadores***

***Operadores aritméticos.***
* Suma (+)
* Resta (-)
* Negativo (-)
* Multiplicación (*)
* Exponente (**)
* División (/)
* División entera (//)
* Resto (%)

In [1]:
# Hacer y ejecutar un ejemplo de cada uno.

***Operadores relacionales.***
* Igual que (==)
* Distinto que (!=)
* Menor que (<)
* Mayor que (>)
* Menor o igual que (<=)
* Mayor o igual que (>=)

In [6]:
# Ejemplo
a = 1
print("La variable a es mayor que 10: {}".format(a > 10))

La variable a es mayor que 10: False

***Operadores de asignación.***

In [8]:
# Asignación simple
a = 12
print(a)

# Suma y asignación
a = 5
a += 2
print("Suma y asignación: {}".format(a))

# Resta y asignación
a = 6
a -= 4
print("Resta y asignación: {}".format(a))

12
Suma y asignación: 7
Resta y asignación: 2

***Operadores lógicos.***
* and 
* or
* not

In [14]:
# AND
a = 5
b = 10
print("AND es TRUE si y solo, ambas expresiones son verdaderas: {}".format(a==5 and b==10))

AND es TRUE si y solo, ambas expresiones son verdaderas: True

In [17]:
# OR
c = 3
d = 52
print("OR es TRUE solo si, al menos una de las expresiones es verdadera: {}".format(c==6 or d==5))

OR es TRUE solo si, al menos una de las expresiones es verdadera: False

In [19]:
# NOT
var = 23
print("NOT modifica el valor booleano de una expresión: {}".format(not var==23))

NOT modifica el valor booleano de una expresión: False

### Listas.

In [21]:
# Tipo de elemento: LISTA
lista1 = [1,2,3,4]
print(lista1)

[1, 2, 3, 4]

In [24]:
# Las listas son elementos indexados
lista2 = ['a','b',56,12,'Hola mundo']
print(lista2[2])

56

In [27]:
# Ejemplo de uso
l1 = ['Hola',4,5]
l2 = ['mundo',3]
l3 = [l1[0],l2[0]]

print(l3)
print(l1[0]+' '+l2[0])

['Hola', 'mundo']
Hola mundo

***Función LEN.***

In [28]:
# Me permite conocer la longitud de un elemento, por ejemplo, las listas.
lista = [1,2,3,4,5]
print(lista)
print(type(lista))
print(len(lista))

[1, 2, 3, 4, 5]
<class 'list'>
5

***Métodos de LISTA.***

In [29]:
# Método APPEND
# Agrega un elemento al final de la lista.
nombres = ['Juan','Pedro','Guillermo']
print(nombres)
nombres.append(24)
print(nombres)

['Juan', 'Pedro', 'Guillermo']
['Juan', 'Pedro', 'Guillermo', 24]

In [31]:
# Método COUNT
# Devuelve el número de ocurrencias de un elemento dentro de la lista.
letras = ['a','b','c','a']
print(letras.count('a'))

2

In [35]:
# Método INDEX
# Devuelve el índice de la primer ocurrencia del elemento que le paso como argumento
numeros = [1,2,3,4,5,2]
print(numeros.index(2))

1

In [37]:
# Método INSERT
lista = [1,2,3,4]
print(lista)
lista.insert(2,'Hola')
print(lista)

lista = []
print(lista)

[1, 2, 3, 4]
[1, 2, 'Hola', 3, 4]
[]

In [39]:
# Método POP
lista = [1,2,3,4,5,6]
print(lista)
a = lista.pop()
print(lista)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
6

In [43]:
# Método REMOVE
numeros = [1,2,3,4,5,2,2]
print(numeros)
numeros.remove(2)
print(numeros)

[1, 2, 3, 4, 5, 2, 2]
[1, 3, 4, 5, 2, 2]

In [45]:
# Método REVERSE
# Invierte el orden de los elementos
letras = ['a','b','d','c']
print(letras)
letras.reverse()
print(letras)

['a', 'b', 'd', 'c']
['c', 'd', 'b', 'a']

In [47]:
# Método SORT
# Ordena los elementos de una lista

# Orden, de menor a mayor
numeros = [2,6,34,0,23,5]
print(numeros)
numeros.sort()
print(numeros)

# Orden de mayor a menor
numeros.sort(reverse=True)
print(numeros)

[2, 6, 34, 0, 23, 5]
[0, 2, 5, 6, 23, 34]
[34, 23, 6, 5, 2, 0]

In [49]:
# Puedo ordenar texto
numeros = ['f','x','a']
print(numeros)
numeros.sort()
print(numeros)

['f', 'x', 'a']
['a', 'f', 'x']

### Operador de pertenencia

In [51]:
# Determinan si un elemento pertenece a una determinada colección
a = 12
lista = [1,2,3,4,5]
print(a in lista)
print(a not in lista)

False
True

## Estructuras.

***Condicional IF***

In [54]:
# Pedimos el ingreso de un número y verificamos si es par o impar.
numero = int(input('Ingrese un número: '))
resto = numero%2

if resto == 0:
    print('El número es PAR')
else:
    print('El número es IMPAR')

print('Acá se termino todo')

Ingrese un número: 13
El número es IMPAR
Acá se termino todo

In [57]:
# Otro ejemplo de IF
a = -2
if a<0:
    print('El número es menor que cero')
elif a>=0 and a<=10:
    print('El número está entre 0 y 10 inclusive')
else:
    print('El número es mayor que 10')

El número es menor que cero

## Ejercicios propuestos

***Ejercicio 1.***
Pedir el ingreso por teclado de 3 valores numéricos entre 1 y 10 correspondientes a las notas de un alumno.
En base al promedio final de las tres notas, mostrar un mensaje por pantalla que indique si el alumno promociona la materia (nota final 7,8,9 o 10), debe rendir final (nota final 4,5 o 6) o recursa (nota 1,2,3).

In [ ]:
# Código del ejercicio 1

***Ejercicio 2.***
Solicitar por teclado la cantidad de partidos ganados, empatados y perdidos de un determinado club de fútbol. Calcular y mostrar el puntaje final sabiendo que cada partido ganado le otorga 3 puntos, cada partido empatado 1 punto y ningún punto por cada partido perdido.

In [58]:
# Código del ejercicio 2

***Ejercicio 3.***
Solicitar por teclado el ingreso de un número entero.
Asignar dicho número a una variable, transformarla a coma flotante y mostrarla por pantalla (valor y tipo de variable).

In [59]:
# Código del ejercicio 3

***Ejercicio 4.***
Desarrollar un programa que solicite al usuario los lados de un rectángulo y calcule su perímetro y su superficie.
Informar ambos resultados por pantalla.

In [60]:
# Código del ejercicio 4

***Ejercicio 5.***
Pedir al usuario que ingrese por teclado dos números reales y utilizarlos para realizar todas las operaciones aritméticas vistas (suma, resta, multiplicación, división, potencia, división entera y resto).
Mostar todos los resultados por pantalla (un resultado por línea) con su respectiva leyenda aclarando de que operación se trata.

In [61]:
# Código del ejercicio 5

***Ejercicio 6.***
Si creamos tres listas. La primera contiene 4 números, la segunda contiene 5 letras y en la tercera le cargamos como elementos las dos listas anteriores.
¿Cuántos elementos contendrá la tercera lista? Demostrar mediante un breve código.

In [62]:
# Código del ejercicio 6

***Ejercicio 7.***
Escribir un programa que pida ingresar un número entero mayor que cero por teclado.
Verificar si el número ingresado es múltiplo de 2, 3, 4, 5, 6, 7,8 o 9.
Armar una lista con los números encontrados (por ejemplo, si el número ingresado es múltiplo de 3,6 y 7, armamos una lista que contenga estos tres números).
Mostrar la lista por pantalla, ordenada de mayor a menor.
En caso de que el número ingresado no sea múltiplo de estos números, mostrar por pantalla el mensaje “No se encontraron divisores exactos”.

In [63]:
# Código del ejercicio 7

***Ejercicio 8.***
Pedirle al usuario que ingrese dos números enteros por teclado y contar cuantos números pares hay entre ambos valores ingresados.

In [64]:
# Código del ejercicio 8

***Ejercicio 9.***
Escribir un programa que permita al usuario ingresar por teclado tantos números enteros como desee. Cuando no quiera ingresar más números, deberá ingresar el cero.
A continuación, determinar cuál de los números ingresados es el mayor y cuál es el menor. Mostrar ambos por pantalla.

In [65]:
# Código del ejercicio 9